<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css" integrity="sha384-mLBxp+1RMvmQmXOjBzRjqqr0dP9VHU2tb3FK6VB0fJN/AOu7/y+CAeYeWJZ4b3ii" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/CSS/main.css">
        {% if title %}
        <title>{{ title }} - Tour App</title>
        {% else %}
        <title>Tour App</title>
        {% endif %}
    </head>
    <body class="container p-4">
        <div >
            Tour App:
            <a href="{{ url_for('index') }}" class="headers">Home</a>
            <a href="{{ url_for('contact') }}" class="headers">Contact</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}" class="headers">Login</a>
            <a href="{{ url_for('register') }}" class="headers">Register</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}" class="headers">Profile</a>
            <a href="{{ url_for('logout') }}" class="headers">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>